<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>ERROR 422</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">   
    </head>
    <body>
        <h1>422</h1>
        <h1> ERROR DATA COULD NOT BE PROCESSES </h1>
        <img id="error" src="https://http.cat/422" alt="error500">
    </body>
</html>