<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>Success Login</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">    
        
    </head>
    <body>
        <h1>Welcome to Account Manager App Team 3</h1>

        <div id="myNav" class="overlay">
            <a class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
              <a href="/user/masuk/">Login</a>
              <a href="/user/daftar/">Register</a>
              <!-- <a href="/user/getone/">Get Data</a> -->
              <a href="/user/getall/">Get All data</a>
              <a href="/user/update/">Update</a>
              <a href="/user/delete/">Delete</a>
              
            </div>
          </div>
                    
          <h3>Click on the element below to open the fullscreen menu &#10024</h3>
            <div class="btn-click">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Click Me !</span>
                    
          <script>
          function openNav() {
            document.getElementById("myNav").style.width = "100%";
          }
          
          function closeNav() {
            document.getElementById("myNav").style.width = "0%";
          }
          function getOne() {
            var action_src="http://localhost:3000/user/getone/" + document.getElementsByName("id")[0].value;
            var getId = document.getElementById('formid');
            getId.action = action_src
            // var getId = document.getElementsByName("id").value;
            // var url = `http://localhost:3000/user/getone/${getId}`
            // console.log(url);
          }
          </script>

          <form id="formid" method="GET" onsubmit="getOne()">
          <br>
          <p>Get one data below here</p>
          <label for="id"> Submit the number of the Id: </label>
          <input type="text" id="id" name="id">
          <button type="submit" onsubmit="getOne(url)" >Submit</button>
          
          </form>
          

          
            
    </body>
</html>