<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>account manager app page 1</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">        
        
    </head>
    <body>
        <h1>Welcome account manager app</h1>

        <div>
            <p>welcome <%= firstName %></p>
            <p>email: <%= email %></p>
            <p>position: <%= position %></p>            
        </div>
            
    </body>
</html>