<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>Success Register</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">    
        
    </head>
    <body>
        <h1>Check delete on postman!</h1>
        <br></br>
        
        <a href="/user/masuk">
            <button class=linksuccess >Click here to login!</button>
        </a>
        <br></br>
        <a href="/">
            <button class=linksuccess >Back to menu!</button>
        </a>
        
         
            
    </body>
</html>